<h3>Title : <%= project.title %></h3>
<p>descriptioins : <%= project.descriptions %></p>
<a href="<%= project.website_url %>">Project URL</a>
<a href="<%= project.github_url %>">Github URL</a>
<img class="col-xs-12" src="<%= project.project_img %>" alt="project image">
